fastapi==0.115.0
uvicorn[standard]>=0.30.6
httpx>=0.28.1
python-dotenv>=1.0.1
pydantic-settings>=2.6.0
databases>=0.9.0
aiosqlite>=0.20.0
sqlalchemy>=2.0.0
alembic>=1.14.0
feedparser>=6.0.11
newspaper3k>=0.2.8
cachetools>=5.5.0
lxml_html_clean
googlenewsdecoder
asyncpg>=0.30.0
psycopg2-binary>=2.9.9
apscheduler>=3.10.4
redis>=5.2.0
